@import "tailwindcss";

:root {
  --primary: #91160c;
  --secondary: #eb8d0e;
  --foreground: #fff;
  /* --background: #1d1d1b; */
  --background: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bold;
  text-shadow: #1a1a1a 1px 1px 10px;
}
