@import "tailwindcss";

:root {
  --foreground: #fff;
  /* --background: #1d1d1b; */
  --background: #1a1a1a;
  --primary: #bd1622;
  --secondary: #eb8d0e;
}

@theme {
  --color-primary: #bd1622;
  --color-secondary: #eb8d0e;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bold;
  text-shadow: #1a1a1a 1px 1px 10px;
}
